body {
  margin: 0 auto;
  background-image: url('images/wood.png');
}

.logo {
  border: black solid 2px;
}

.navbar {
  min-height: 70px;
}

.navbar-toggle {
  background-color: white;
  position: sticky;
  top: 0px;
}

.navbar-default {
  background-color: rgba(0, 0, 0, 0.3);
}

li {
  padding-right: 25px;
  padding-top: 10px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
}

.navbar-default .navbar-nav>li>a:hover {
  color: white;
  text-decoration: overline;
}

.navbar-default .navbar-nav>li>a:visited {
  color: white;
}

.dropdown button {
  margin-top: 10px;
}

.dropdown-menu {
  margin-top: 15px;
}

.container-panier {
  background-color: white;
}

.thumbnails {
  width: 150px;
  height: 150px;
}

.price-basket {
  font-size: 1.5em;
}

<<<<<<< HEAD
/*.panier {
  position: fixed;
  top: 69px;
  right: 1px;
  height: 100px;
  width: 300px;
  background-color: red;
  z-index: 500;
}*/

=======
.container-slide {
  position: relative;
  margin-top: -160px;
}

#titre-principal {
  position: sticky;
  top: 20%;
  width: 940px;
  margin: auto;
  z-index: 50;
  font-size: 10em;
  font-family: 'Anton', sans-serif;
  color: rgb(153, 60, 22);
  background-color: rgba(255, 255, 255, 0.7);
  border: solid black 2px;
}
>>>>>>> 825ce8352c99f1e52a61ad2851bd11b6dac90b99

.mySlides {
  width: 100%;
  height: 100vh;
  margin: auto;
}

.end-road-title {
  height: 158px;
}

.container-mains {
  margin-top: 50px;
  font-size: 1.4em;
  text-align: center;
  color: white;
}

#mains {
  margin-bottom: 150px;
}


/*La description main*/

.description {
  font-size: 2em;
  font-family: 'Permanent Marker', sans-serif;
}

#carte {
  width: 600px;
  text-align: center;
  padding: 10px;
  margin: auto;
  margin-bottom: 0px;
  border: black double 10px;
  border-bottom: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  font-family: 'Anton', sans-serif;
  font-size: 4em;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(153, 60, 22);
}

#container-menu {
  margin-bottom: 80px;
  border: black double 10px;
  box-shadow: 5px 5px 10px black;
  padding: 30px;
  /*background-color: rgba(153,60,22, 0.9);*/
  background-image: url('images/gray.jpg');
}

.menus {
  margin-top: 40px;

}

.menuImage {
  height: 400px;
  box-shadow: 5px 5px 10px black;
  padding: 0px;
}

h3 {
  font-family: 'Anton', sans-serif;
  font-size: 1.6em;
}

.content {
<<<<<<< HEAD
  /*width: 50%;*/
  height: 200px;
  margin-top: 90px;
  font-family: 'Pacifico', sans-serif;
  font-size: 1.2em;
=======
  height: 400px;
  padding-top: 10px;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 1.4em;
>>>>>>> 825ce8352c99f1e52a61ad2851bd11b6dac90b99
  text-align: center;
  border: black 5px double;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.content p {
  padding-top: 15px;
  padding-bottom: 15px;
}

.boutons {
  color: black;
}


/*map*/

#contact {
  font-family: 'Anton', sans-serif;
  font-size: 4em;
  text-align: center;
  border: double black 10px;
  width: 600px;
  margin: auto;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(153, 60, 22);
}

#container-location {
  display: flex;
  height: 500px;
  border: solid black 1px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

#container-location img {
  width: 40%;
}

#map {
  width: 60%;
}

#footer-text {
  font-family: 'Times news roman';
  font-size: 1.8em;
  color: white;
  text-align: center;
}

.footer {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
