body {
  margin: 0 auto;
}

html, body {
  height: 100%;
}

.navbar {
  min-height: 70px;

}

.navbar-toggle {
  background-color: white;
  position: sticky;
  top: 0px;
}

.navbar-default {
  background-color: rgba(0,0,0,0.3);
}

li {
  padding-right: 25px;
  padding-top: 10px;
}

.navbar-default .navbar-brand {
  color: white;
  font-size: 1.8em;
  font-family: 'Pacifico', sans-serif;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-family: 'Pacifico', sans-serif;
  font-size: 1.5em;
}

.mySlides {
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.container-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 515px;
  left: 50%;
}

.dots {
  height: 10px;
  width: 10px;
  border: black solid 1px;
  border-radius: 100%;
  background-color: white;
  margin-right: 3px;

}

#h1-description{
  font-family: 'Yellowtail', cursive;
  margin-left: 50px;
  margin-top: 50px;
}
#p-description{
  margin: 25px;
  margin-left: 50px;
  margin-bottom: 90px;
  font-family: 'Niconne', cursive;
font-size: 30px;
}

.mappa{
  display: flex;
  justify-content: center;
}

#map{
  width: 99%;
  height:400px;
  margin-top: 80px;
  align-self: center;
}

.menu1{
  display: flex;
}
.menu1 img{
  height: 100px;
  width: 140px;
}
.content{
  padding-left: 15px;
}

.footer{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  height:80px;
}
.footer-text span{
  margin-left: 80px;
}


@media screen and (max-width: 700px) {
  .menu {
    display: none;
  }

  #nav-deroulant {
    display: block;
  }

  header {
    justify-content: space-between;
  }

  .logo {
    font-size: 0.8em;
    margin-left: 10px;
  }
}

@media screen and (max-width: 360px) {
  .logo {
    font-size: 0.5em;
  }

  #nav-deroulant {
    margin-top: 5px;
  }
}
